@charset "EUC-KR";


*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
	font: "arial";
}

body{
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
}

.footer{
	height: 200px;
	width: 100%;
}


.title{
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
}

.logo{
	width: 200px;
	height: 120px;
}

.loginform { 	
	margin:auto; 
	padding:20px; 
	width:100%; 
	border: 1px solid #c0c0c0; 
	border-radius:5px; 
}

.form-control { 
	border:none; 
	border-radius:5px; 
	width:100%; 
	height: 50px;
	margin-bottom:15px; 
	padding:10px; 
	font-size: 14px;
	border: 1px solid #c0c0c0; 
}

.form-group p.else{
	font-size: 14px;
	text-align: left;
}

.btn { 
	color:white; 
	width:100%; 
	border:none; 
	border-radius:5px; 
	background-color: #0079f2; 
	font-size: 16px; 
	margin-top: 30px;
	margin-bottom:30px; 
	padding:10px;
}


.row{
	margin: 0px auto;
}
.jumbotron{
	position: relative;
	padding-top: 20px;
}

.join-button{
	position: absolute;
	display: block;
	right: 0px;
	bottom: 4px;
	color: #808080;
	border: none;
	background: none;
}

.join-button a{
	text-decoration: none;
	color: #808080;
	font-size: 12px;
}

.join-button a:hover{
	 text-decoration:underline; 
}

p.login {	
	font-size: 20px;
	font-weight: bold ;
	text-align: center;
	margin-bottom: 30px;
}

p.join {	
	font-size: 20px;
	font-weight: bold ;
	text-align: left;
	margin-bottom: 30px;
}

p.join:after{
	content: '기자 전용 회원가입 페이지입니다.\A*은 필수 입력 항목입니다.';
	white-space:pre;
	display: block;
	color: #808080;
	margin-top: 5px;
	font-size: 12px;
}


p.else{
	font-size: 14px;
	font-weight: bold ;
	margin-top: 20px;
	margin-bottom: 10px;
}

p.log{
	font-size: 14px;
	font-weight: bold ;
	margin-top: 20px;
	margin-bottom: 10px;
}

p.else:after{
	content: '*';
	display: inline-block;
	margin-left: 5px;
	font-size: 15px;
	color: red;
}


@media screen and (min-width : 576px){
	.container{
		width : 480px;	
	}
}

@media screen and (max-width : 576px){
	.container{
		width : 480px;

	}
}




